body{
 margin-top: 2vh;
  font-family: "playfair display";
  background: #dbd5c9;
  background-size: 2000px;
  }

  html {
  scroll-behavior: smooth;
}



div#preload { display: none; }

.margin {
 margin-bottom: 3vh;
 margin-right: 3vw;
 margin-left: 3vw;
}



#overlap {
  position: relative;
 /* margin-right: 69vw;*/
 letter-spacing: 0.1em;
  font-size: 4vw;
  color: white;
  text-align: center;
  align-content: center;
  margin-left: 2.5vw;

  font-family: playfair display semibold;
}


#overlap:hover {
  font-style: italic;
  color: #f93700;
 
}



#overlapabout {
  position: relative;
 /* margin-right: 69vw;*/
 letter-spacing: 0.1em;
  font-size: 4vw;
  color: #f93700;
  text-align: center;
  align-content: center;
  margin-left: 2.5vw;
  font-family: playfair display semibold;

}


#overlapabout:hover {
  color: white;
    font-style: italic;
 
}


#tagline1 {
  position: relative;
  font-size: 2.3vw;
  color: black;
  letter-spacing: 0.02em;
  padding-top: 7vh;
  text-align: center;
  font-family: playfair display;
}

#tagline1 b {
  font-style: italic;
    letter-spacing: 0.05em;
}






/*
.sketch {
  max-height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: mandatory;
    scroll-snap-points-y: repeat(3rem);
    scroll-snap-type: y mandatory;
}*/


.fullview {
  height: 100vh;
   /* display: flex;
    flex-direction: column;
    justify-content: center;
    scroll-snap-align: start;*/
}





/*-- Insert gif ---*/

#gif {
  position: relative;
  margin-top: 3vh;
  margin-left: 13vw;

  background-attachment: fixed;


  background-repeat: no-repeat;
  background-position: center;
  width: 47vw;
  height: 47vh;
  animation: giffy 6s infinite steps(1);
    animation-play-state: paused;
}





#gif:hover {
  animation-play-state:running;
}

@keyframes giffy {
  0%   { background-image: url('image/gif/1.jpg'); } 
  3%   { background-image: url('image/gif/28.jpg'); } 
  6%  { background-image: url('image/gif/2.jpg'); }
  9%  { background-image: url('image/gif/3.jpg');}
  12%  { background-image: url('image/gif/4.jpg'); }
  15%  { background-image: url('image/gif/5.jpg'); }
  18%  { background-image: url('image/gif/6.jpg'); }
  21% { background-image: url('image/gif/7.jpg'); }
  24% { background-image: url('image/gif/8.jpg'); }
  27% { background-image: url('image/gif/9.jpg'); }
  30% { background-image: url('image/gif/10.jpg'); }
  33% { background-image: url('image/gif/11.jpg'); }
  36% { background-image: url('image/gif/12.jpg'); }
  39% { background-image: url('image/gif/13.jpg'); }
  42% { background-image: url('image/gif/14.jpg'); }
  45% { background-image: url('image/gif/15.jpg'); }
  48% { background-image: url('image/gif/16.jpg'); }
  51% { background-image: url('image/gif/17.jpg'); }
  54% { background-image: url('image/gif/18.jpg'); }
  57% { background-image: url('image/gif/19.jpg'); }
  60% { background-image: url('image/gif/20.jpg'); }
  63% { background-image: url('image/gif/21.jpg'); }
  66% { background-image: url('image/gif/22.jpg'); }
  69% { background-image: url('image/gif/23.jpg'); }
  72% { background-image: url('image/gif/24.jpg'); }
  75% { background-image: url('image/gif/25.jpg'); }
  78% { background-image: url('image/gif/26.jpg'); }
  81% { background-image: url('image/gif/27.jpg'); }
  84% { background-image: url('image/gif/28.jpg'); }
  87% { background-image: url('image/gif/29.jpg'); }
  90% { background-image: url('image/gif/30.jpg'); }
  93% { background-image: url('image/gif/31.jpg'); }
  96% { background-image: url('image/gif/32.jpg'); }
  100% { background-image: url('image/gif/33.jpg'); }
  
}






/*-- Insert gif ---*/


 .intro b {
/*  font-family: "kepler std bold";*/
/*color: #015229;*/
color: #015229;

}


.header {
  padding-bottom: 40px;

}


.aboutme {
  display: grid;
  grid-column-gap: 23vw;
  grid-template-columns: 30vw 10vw;
  padding-right: 13vw;
  padding-left: 16vw;
  padding-top: 6vh;

}

.aboutcontents {
  font-size: 17px;
  letter-spacing: 0.01em;
  text-align: left;
  line-height: 1.4;

}




ul {
  margin: 0;
  padding: 0;
}

li {
  font-family: playfair display semibold;
  display: inline;
  color: #030D0A;;



}

.left {
  float: left;
}


li a {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: #030D0A;
}

li a:hover {
  font-style: italic;
   color:   #f93700;
}

li a.active {
  color:#030D0A;;
}

li a.visited {
  color:#030D0A;;
}


.nav:hover {
  font-style: italic;
}



.intro {
  text-align: center;
  padding-bottom: 3vh;
  padding-right: 28vw;
  padding-left: 13vw;
    display: grid;
    grid-column-gap: 20vw;
    grid-template-columns: 100% 20%;
  }


.introtext {
display: inline-block;
  font-size: 3.55vw;
  text-align: left;
  line-height: 1.4;
  color: #030D0A;;

 }

.illustration {

 }

 img {
  width: 27vw;
  padding-top: 6vh;
  float: right;
  position: relative;
  display: inline-block;
}

.bodytext {
  font-size: 17px;
  text-align: left;
  line-height: 1.4;
  padding-right: 33vw;
  padding-left: 13vw;
}


input[type="checkbox"]  {
 display: none; /* hide the checkboxes */
}

#_1 +.drop +  div{
  display:none;
}

#_2 +.drop +  div{
  display:none;
}

#_3 +.drop +  div{
  display:none;
}

.drop {
  cursor: pointer;
  font-family: playfair display semibold;
    display: block;
  text-align: left;
  font-size: 2.43vw;
  letter-spacing: 1.5px;
  padding-bottom: 1vh;
  color:#030D0A;
}


.drop:hover {
 /* background-color: #F28705;
  width: 77%;
  padding-left: 2vw;*/
  color: #f93700;

/*  font-weight: bold;*/
}


#_1:checked + .drop + div{
  display:block;

}

#_2:checked + .drop + div{
  display:block;
}

#_3:checked + .drop + div{
  display:block;
}









 p {

 }

 h1 {

 }

 h2 {
  font-size: 20px;

 }

 .chlists {

  text-align: left;
  padding-left: 5vw;
  font-size: 3.35vw;
 /* line-height: 1.7;*/

 }


 p a {
  text-transform: none;
  color: #015229;
  text-decoration: none;
 }


 p a:hover {
  color:  #f93700;

 
 }



.container {
  position: relative;
  width: 70%;
}

.image {
transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 15vh;
  left: 56vw;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  
}

.image2 {
transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0vh;
  left: 56vw;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  
}

.image3 {
transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 2vh;
  left: 56vw;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  
}

.image4 {
transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: -5vh;
  left: 56vw;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  
}

.image5 {
transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 23vh;
  left: 56vw;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  
}

.image6 {
transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 10vh;
  left: 56vw;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  
}

.image7 {
transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 2vh;
  left: 56vw;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  
}

.image8 {
transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: -19vh;
  left: 56vw;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  
}

.image9 {
transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 12vh;
  left: 56vw;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  
}

.image10 {
transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 9vh;
  left: 56vw;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  
}

.image11 {
transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 6vh;
  left: 56vw;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  
}

.image12 {
transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 3vh;
  left: 56vw;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  
}

.image13 {
transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 0vh;
  left: 56vw;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  
}

.image14 {
transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: -3vh;
  left: 56vw;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  
}

.image15 {
transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: -6vh;
  left: 56vw;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  
}

.middle {
opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
  
}

.container:hover .image {
  opacity: 1;
}

.container:hover .image2 {
  opacity: 1;
}

.container:hover .image3 {
  opacity: 1;
}


.container:hover .image4 {
  opacity: 1;
}

.container:hover .image5 {
  opacity: 1;
}

.container:hover .image6 {
  opacity: 1;
}

.container:hover .image7 {
  opacity: 1;
}


.container:hover .image8 {
  opacity: 1;
}

.container:hover .image9 {
  opacity: 1;
}

.container:hover .image10 {
  opacity: 1;
}


.container:hover .image11 {
  opacity: 1;
}

.container:hover .image12 {
  opacity: 1;
}

.container:hover .image13 {
  opacity: 1;
}

.container:hover .image14 {
  opacity: 1;
}


.container:hover .image15 {
  opacity: 1;
}

.container:hover .middle {
  opacity: 1;
}

.text {
 
}







/*
 img {
display: none;
width: 50vw;
position: fixed;
z-index: 99;
 }

 #techint:hover + img {
 display: inline;


 }*/


 button: hover {
color: #f93700;
 }

 button.active {
  color: #030D0A;;
 }

 button.visited {
  color: #030D0A;;
 }

 .chapters {
  padding-right: 13vw;
  padding-left: 13vw;
  text-align:center;
  padding-top: 7vh;
   margin-bottom: 50vh;

 }

 .chtitle {
  text-align: left;
  text-transform: uppercase;
letter-spacing: 1.5px;
padding-bottom: 5.5vh;
color:#030D0A;

 }

 .chtitle:hover {

  color:  #f93700;
 }



 #manuals{
    padding-bottom: 6vh;

 }


#reframeh {
    padding-bottom: 6vh;

 }

#compcraft {
  padding-bottom: 6vh;

 }

 .footer {
  padding-top: 26vh;

 }

 .linkedin {
    color:#015229;
 }

 .linkedin:hover {
color: #f93700;
 }

 .linkedin.active {
color:#015229;
 }
 

 .linkedin.visited {
color:#015229;
 }
 
 .instabold {
  color:#015229;
 }

  .instabold:hover {
  color:#f93700;
 }

  .instabold.active {
  color:#015229;
 }

  .instabold.visited {
  color:#015229;
 }


 .footertext  {
    font-family: "georgia";
  color:#030D0A;
  display: grid;
  padding-left: 13vw;
  padding-right: 13vw;
    grid-column-gap: 5vw;
    grid-template-columns: 14vw 14vw 14vw 14vw;
 }

 .footertext b {
  color:  #015229;
 }

 .columns {
  font-size: 15px;
  line-height: 1.5;
  padding-top: 4vh;
  padding-bottom: 20vh;

 }

  button {
  border: none;
  background-color: transparent;
  color: white;
  text-decoration: none;
 }



 #myBtn {
  font-family: "playfair display semibold";
  display: none;
  position: fixed;
  bottom: 4vh;
  right: 2.5vw;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 0.02em;
 
}

#myBtn:hover {
  color:  #f93700;

}



::selection {
/*      background: #ff501e;
    color: #fff;*/
/*
    background: #f9dddd;
    color: #f93700;*/


   /* background: #ded5c4;
    color: #fff;*/

    background: #505050;
    color: #fff;
}


