body{
  margin-top: 2vh;
  font-family: "georgia";
  background: white;
  background-size: 2000px;
  }

  
 html {
  scroll-behavior: smooth;
}


.margin {
 margin-bottom: 3vh;
 margin-right: 3vw;
 margin-left: 3vw;
}


 .header {
  padding-bottom: 40px;
}


#overlap {
  position: relative;
 /* margin-right: 69vw;*/
 letter-spacing: 0.1em;
  font-size: 4vw;
/*  color: #BFBAB0;*/
color: #DBD5C9;
  text-align: center;
  align-content: center;
  margin-left: 2.5vw;

  font-family: playfair display semibold;
}


#overlap:hover {
  
  color: #f93700;
 
}

.project {
  padding-bottom: 15vh;
}



ul {
  margin: 0;
  padding: 0;
}

li {
  font-family: playfair display semibold;
  display: inline;
  color: #030D0A;;



}

.left {
  float: left;
}


li a {
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  color: #030D0A;
}

li a:hover {
   color:   #f93700;
   font-style: italic;
}

li a.active {
  color:#030D0A;;
}

li a.visited {
  color:#030D0A;;
}


.title {
   font-family: "playfair display";
  font-size: 20px;
  color:  #015229;
}

.subtitles {
  font-size: 16px;
  padding-bottom: 4vh;
  letter-spacing: 0.02em;
  line-height: 1.4;
  display: grid;
  grid-column-gap: 34vw;
  grid-template-columns: 31vw 29vw;
}


 .subs {
 }


.titleb {
  font-size: 24px;
  color: #015229;
}


.description {
 

  font-size: 16px;
  padding-top: 5vh;
  padding-left: 30vw;
  padding-right: 30vw;
  line-height: 1.3;
}

.phototag {
  font-size: 14px;
  line-height: 1.3;
  text-align: right;
}



img {
  padding-top: 5vh;
  width: 94vw;
  height: auto;
}



.nextbar  {
   font-family: "playfair display semibold";
  float: right;
  text-align: right;
  display: grid;
    grid-column-gap: 62vw;
    grid-template-columns: 17vw 14vw;
 }


 .prevnext {
   font-family: "playfair display semibold";
  font-size: 1.39vw;
  line-height: 1.5;
  padding-top: 4vh;
  text-decoration: none;

 }


 .nextbar a {
  text-decoration: none;
  color: #030D0A;
 }

.nextbar a:hover {
  text-decoration: none;
  color: #f93700;
 }

 .nextbar a.active {
  text-decoration: none;
  color: #030D0A;
 }

 .nextbar a.visited {
  text-decoration: none;
  color: #030D0A;
 }

 .rarrow {
  display: inline;
  position: relative;
  font-family: "arial";
  font-weight: 100;
  font-size: 2vw;
}


.larrow {
  display: inline;
  position: relative;
  font-family: "arial";
  font-weight: 100;
  font-size: 2vw;
}

 a {
  text-decoration: none;
  color: #015229;
 }

a:hover {
  color: #f93700;

 }

a.active {
  color: #015229;

 }

a.visited {
  color: #015229;

 }


 





 button: hover {
color: #f93700;
 }

 button.active {
  color: #030D0A;;
 }

 button.visited {
  color: #030D0A;;
 }


 .footer {
  padding-top: 15vh;

 }

 .linkedin {
    color:#015229;
 }

 .linkedin:hover {
color: #f93700;
 }

 .linkedin.active {
color:#015229;
 }
 

 .linkedin.visited {
color:#015229;
 }
 
 .instabold {
  color:#015229;
 }

  .instabold:hover {
  color:#f93700;
 }

  .instabold.active {
  color:#015229;
 }

  .instabold.visited {
  color:#015229;
 }


 .footertext  {
  color:#030D0A;
  display: grid;
  padding-left: 13vw;
  padding-right: 13vw;
    grid-column-gap: 5vw;
    grid-template-columns: 14vw 14vw 14vw 14vw;
 }

 .footertext b {
  color:  #015229;
 }

 .columns {
  font-size: 15px;
  line-height: 1.5;
  padding-top: 4vh;
  padding-bottom: 20vh;

 }
  button {
  border: none;
  background-color: transparent;
  color:  #DBD5C9;
  text-decoration: none;
 }



 #myBtn {
  font-family: "playfair display semibold";
  display: none;
  position: fixed;
  bottom: 4vh;
  right: 2.5vw;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  cursor: pointer;
  letter-spacing: 0.02em;
 
}

#myBtn:hover {
  color:  #f93700;

}



::selection {
/*      background: #ff501e;
    color: #fff;*/
/*
    background: #f9dddd;
    color: #f93700;*/


   /* background: #ded5c4;
    color: #fff;*/

    background: #505050;
    color: #fff;
}
